.carousel-inner img{
    width: 100vw;
    height: 100vh;
    filter: brightness(20%);
}
.carousel-inner{
    text-align: center;
}
.carousel-caption, .carousel-indicators{
    position: absolute;
    z-index: 1;
    }
.platform{
    height: 90%;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(26, 24, 24);
    position: absolute;
    z-index: 10;
    display: inline-block;
    
    top: 5%;
}
@media screen and (max-width: 600px) {
    .platform{
        left: 0%;
    }
}
.fa-times{
    vertical-align: top;
}
.p-top{
    text-align: center;
}
.p-platop{
    float: center;
    margin-top: 25px;
}
.p-cancel{
    float: right;
    position: absolute;
    top: 2px;
    right: 7px;
    z-index: 20;
}
.p-cancel i{
    color: white;
}
.p-cancel i:hover{
    color: #1ED760;
}
.p-title{
    text-align: center;
}
.plat{
    font-size: 30px;
    color: #1ED760;
}
.have{
    color: white;
    font-size: 18px;
}

.p-email, .p-name, .p-password, .p-username {
    width: 400px;
    margin-top: 20px;
    text-align: left;
    text-indent: 30px;
}
.align-p{
    width: 120px;
}
.p-email p, .p-name p, .p-password p, .p-username p{
    color: white;
    font-size: 17px;
    display: inline-block;
}
.header-c{
    position: absolute;
    z-index: 10;
}
.header-t{
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    transition: ease-in;
    transition-duration: 0.5s;
}
#social{
    float: right;
    position: absolute;
    margin-left: 85vw;
    margin-top: 10px;
}
#home{
    margin-left: 40px;
    position: fixed;
    margin-top: 10px;
}
.text-center{
    display: inline-block;
    margin-top: 60vh;
    width: 93vw;
    text-align: center;
    display: none;
}
.text-center ul li{
    margin-right: 5px;
    display: inline;
}
.fa-facebook-s{
    color: #3b5998;
    
  }
  .fa-instagram-s{
      color: transparent;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      background-clip: text;
      -webkit-background-clip: text;
  }
  .fa-twitter-s{
      color: #00aced;
  }
  .fa-google-s{
      background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
     -webkit-text-fill-color: transparent;
  }
  .fa-youtube-play-s{
      color: #bb0000;
  }
  .fa-linkedin-s{
      color: #007bb6;
  }
  .fa-windows-s{
      color: blue;
  }
  .fa-spotify-s{
      color: #1ED760;
  }
  .fa-wordpress-s{
      color: #21759b ;
      background-color: white;
      border-radius: 50%;
  }
  .fa-whatsapp-s{
      color:#fff;
      color:#fff linear-gradient(#25d366,#25d366)10px 84%/10px 15px no-repeat, radial-gradient(#25d366 60%,transparent 0);
  }
  .fa-github-s{
      color: white;
  }