{% extends 'hana/main-display.html' %}

{% block title %}
Photos | Your Photos
{% endblock title %}

{% block head %}
Photos
{% endblock head %}
{% block data %}
<div class="display">

{% if images %}
 <div class="row">
            {% for image in images %}

            <!-- Buttons to choose list or grid view -->
<!----<i id="thumbimage" class="fa fa-image"></i>
  -----------https://vhx.imgix.net/hillsongworship/assets/ca8e3862-bc01-4b8e-958a-7850b7c11faf-552951ec.jpg?auto=format%2Ccompress&fit=crop&h=720&w=1280-->
   
  <div class="column">
    <div class="card">
      <img id="thumbnail" src="https://e-cdns-images.dzcdn.net/images/cover/f5abb59eb62779f57f806b1aec3b4314/500x500-000000-80-0-0.jpg">
      <p>Test Label</p>
    </div>
    
  </div>
 

            {% endfor %}
</div>
           {% else %}
           {% load static %}
            <img src="{% static 'hana/images/no-image.png' %}" class="e-image">
            <a href="{% static 'photos/csv/driveimages.csv' %}">No images yet</a>
           {% endif %}
               
        </div>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 5px 10px;

}
#thumbnail{
  height: 90%;
  border: none;
  overflow: hidden;
}

/*  250x250 thumbnail Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
    margin-bottom: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card-line{
    margin-top: 0px;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  background-color: #f1f1f1;
  height: 230px;
  border-radius: 5%;
  padding: 5px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin-bottom: 20px;
    float: left;
  }
}
</style>

<script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a loop variable
var i;

// List View
function listView() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.width = "100%";
  }
}

// Grid View
function gridView() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.width = "25%";
  }
}

</script>
{% endblock data %}