<!DOCTYPE html>
<html>
    <head>
        <title>
            Photos | Your Photos
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'hana/css/style.css' %}">
    </head>
    <body>
        <nav id="nav">
            <div class="label">
                <p>ISHMAEL</p>
                <P>Schedule</P>
            </div>
            <div class="search">
                <input type="search" placeholder="Search Photos">
                <div>
            <div class="right-side">
                <div class="icons">
                    <i></i>
                </div>
                <div class="profile">
                    <img src="https://lh3.googleusercontent.com/-Ibjuo3RZbeE/XntyjqtgINI/AAAAAAAAApw/LDHrXGRhVP48l8UEYnTFDg9_jV7-p1kmgCEwYBhgLKtQDAL1OcqyX_T6Z5rnn-rk2cKYi2B1LqymfKeoeRKvYQaDi1XJPV9l1oN3bE_1N_AKoPKxeJDKELHHDac1_jIa46EWFjHVZaGOh8ELUalxz6Q5TZ165XSUtviW5Rh1P6oS9fbfGhZcLIyIN8YSc9EhvjQmBWDbZUjsobqBNX04FrGFRRRLGP-oQ4tHS6jVTyzVmq_WJbbsaj-KL3x_-UXBf56qNSBPw179Dn7We4-cvzzkgX2PX0TDijnUjCV0ln3y7a9SJaetSJ5cZuK_EQW6rLgUNt1jOpmzUjRk853te5wEI7x1p23l56JZHwxza2Xi1HhUhMzpSrb_sKbRtI-W02pve44s5vFyCgIsAe2TAc_2kQpUgeHQFCXUXg7DEJ43aLg-uTpT9ES-Gr1oGapmVip0qo8fr-DFcQImTCWQgDFt3qh7XMoZw9lOTN6e6A-2REKIEXYCtououqpd4sXOLeEJ99ZxS5tt5cAMKRyOnA8R08BLQbeXSAdJEA0M5TTUzGXV13UyHwT7VGVnZBDuJ-lGJiNojlkWtJZUGXmpAfVg13Kn8kD4PaEpOsl7nRjxTYuwMTVqj90vnm1VhfKF_QqE-8-E4OAp5QsmVwpQFZCKsZDVRMMiU_PcF/w139-h140-p/IMG_20200118_164003.jpg">
                </div>
            </div>
        </nav>
        <aside id="aside">
            <ul>
                <li><a>Schedule</a></li>
                <li><a>Documents</a></li>
                <li><a>My Journals</a></li>
                <li><a>Photos</a></li>
                <li><a>Videos</a></li>
            </ul>
        </aside>
    </body>
</html>