{% extends 'hana/main-display.html' %}
{% block title %}
Documents | Your Documents
{% endblock title %}

{% block head %}
Documents
{% endblock head %}

{% block data %}


div class="display">

{% if documents %}
 <div class="row">
            {% for document in document %}

            <!-- Buttons to choose list or grid view -->
<!----<i id="thumbimage" class="fa fa-image"></i>
  https://e-cdns-images.dzcdn.net/images/cover/f5abb59eb62779f57f806b1aec3b4314/500x500-000000-80-0-0.jpg
  https://vhx.imgix.net/hillsongworship/assets/ca8e3862-bc01-4b8e-958a-7850b7c11faf-552951ec.jpg?auto=format%2Ccompress&fit=crop&h=720&w=1280-->
   
  <div class="column">
    <div class="card">
      <div class="thumb">
        <img class="thumbnail" src="{{ document.thumbnal.url }}">
      </div>
      <div class="label-card">
        <i id="thumbimage" class="fa fa-image"></i>
        <p>{{ document.name }}</p>
      </div> 
    </div>   
  </div>
 

            {% endfor %}
</div>
           {% else %}
           {% load static %}
            <img src="{% static 'hana/images/no-image.png' %}" class="e-image">
            <a href="" class="e-image-l">No Documents yet</a>
           {% endif %}
               
</div>
<!-----------------------------list-->
<div class="display-l">

  {% if documents %}
   <div class="row-l">
              {% for document in documents %}
  
              <!-- Buttons to choose list or grid view -->
  <!----<i id="thumbimage" class="fa fa-image"></i>
    https://e-cdns-images.dzcdn.net/images/cover/f5abb59eb62779f57f806b1aec3b4314/500x500-000000-80-0-0.jpg
    https://vhx.imgix.net/hillsongworship/assets/ca8e3862-bc01-4b8e-958a-7850b7c11faf-552951ec.jpg?auto=format%2Ccompress&fit=crop&h=720&w=1280-->
     
    <div class="column-l">
      <div class="card-l">
        
          <video class="thumbnail-l" src="{{ video.video.url }}">
      
      
          <i id="thumbimage" class="fa fa-image"></i>
          <p>{{ document.name }}</p>
      </div>   
    </div>
   
  
              {% endfor %}
  </div>
             {% else %}
             {% load static %}
              <img src="{% static 'hana/images/no-image.png' %}" class="e-image">
              <a href="" class="e-image-l">No Documents yet</a>
             {% endif %}
                 
  </div>
  <!------------------------->
<style>
  /****************************************
.display{
  display: none;
}*/
.display-l{
 margin-top: 80px;
 padding-left: 18%;
 padding-right: 1%;
 display: none;
}
.change{
  display: none;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column-l {
  width: 100%;
  padding: 5px 10px;
  height: 80px;
}
/*.column-g{
  display: none;
}*/
.thumbnail-l{
  border: none;
  width: 70px;
  height: 50px;
  float: left;
  margin-right: 20px;
}
.e-image{
    margin-left: 40%;
    margin-top: 17%;
}
.e-image-l{
    margin-left: 60%;
    margin-top: 20%;
}
.card-l i,p{
  float: left;
  padding-left: 20px;
}
.card-l:hover{
  box-shadow: 0 4px 8px 0 rgba(11, 7, 233, 0.466)
}
.card-l p{
  padding-top: 15px;
}
.card-l i{
  padding-top: 15px;
}
/*  250x250 thumbnail Remove extra left and right margins, due to padding in columns */
.row-l {
  margin: 0 -5px;
  margin-bottom: 5px;
}
/*.card-l:hover{
  box-shadow: 0 4px 8px 0 rgba(11, 7, 233, 0.466)
}
/* Clear floats after the columns */
.row-l:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the counter cards */
.card-l {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  /*this adds the "card" effect */
  text-align: center;
  background-color: #f1f1f1;
  height: 70px;
  /*border-radius: 5%;*/
  padding: 5px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#thumbimage-l{
  color: red;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin-bottom: 20px;
    float: left;
  }
}

  /********************************************************/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 5px 10px;

}
.thumbnail{
  border: none;
  width: 100%;
}
.thumbnail-list{
  border: none !important;
  width: 20% !important;
}
.thumb{
  width: 100%;
  height: 195px;
  overflow: hidden;
}
/*  250x250 thumbnail Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
  margin-bottom: 5px;
}
.label-card *{
  display: inline;
}
.label-card i{
  margin-right: 5px;
}
.label-card p{
  margin-top: 9px;
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(11, 7, 233, 0.466)
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  background-color: #f1f1f1;
  height: 230px;
  border-radius: 5%;
  padding: 5px;
}

#thumbimage{
  color: red;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin-bottom: 20px;
    float: left;
  }
}
</style>

<script>

$(function(){
  $("#list").click(function(){
    $(".display").css("display", "none");
    $(".display-l").css("display", "block");
  });
  $("#grid").click(function(){
    $(".display").css("display", "block");
    $(".display-l").css("display", "none");
  });
});

</script>

{% endblock data %}