{% extends 'social/social.html' %}

{% block title %}
   User | Login to account
{% endblock title %}
{% block content %}

<div class="canvas">
        <div class="platform">
         
           <div class="p-top">
               <div class="p-platop">
                    <img id="profile" src="https://img.icons8.com/fluent/96/000000/user-male-circle.png">
               </div> 
               <div class="p-cancel">
                   <a href="">
                    <i class="fa fa-times" id="canc"></i>
                    <a>
                </div>
           </div>
           <div class="p-title">
               <p class="plat {{ platforms.f_class }}-s">
                kibet ishmael
               </p>
               <p class="have">
                   Welcome back.
               </p>
           </div>
           <form method="post" name="login">
           <div class="form">
           {% csrf_token %}
           {{ form.as_p }}
           <!--<div class="p-content">
               <div class="p-email">
                   <p class="align-p">Email:</p>
                   <input type="email" name="email" placeholder="Your Email">
               </div>
               <div class="p-name">
                <p class="align-p">Password:</p>
                <input type="password" placeholder="Your Password" name="password">
               </div>
           
              <div class="p-submit">
               -->
               <div class="s-btn">
                <button type="submit" id="submit">Sign Up</button>
                </div>
                 <div class="p-protocol">
                   <a id="prot" href="{% url 'login' %}">Login</a>
               </div>
               </div>
              

        </form>
        </div> 
</div>
        <script>
       function pasuser(form) {
           if (form.email.value=="kmishmael@gmail.com") { 
               if (form.password.value=="Kibet189") {
                   alert("corrrect");
                   //location="{% url 'home' %}"
                   } else {
                       alert("Invalid Password")
                       }
                       } else {  alert("Invalid UserID")
                       }
       }
        </script>
        <style>
        .platform{
            margin-left: -14%;
        }
        .helptext{
            display: none;
        }
        li{
            display: none;
        }
        .canvas{
            text-align: center;
        }
        @media screen and (max-width: 600px) {
            .platform{
                margin-left: 8%;
            }
        }
        #profile{
            border-radius: 50%;
            border: 4px solid rgb(100, 69, 11);
        }
        .s-btn{
            text-align: right;
        }
        .s-btn button{
            margin-right: 60px;

        }
        .form{
            padding-top: 40px;
            color: white;
        }
        input{
            width: 200px;
        }
        #submit{
            width: 100px;
            height: 40px;
            font-size: 18px;
        }
        .p-submit{
            text-align: right;
        }
        #submit:hover{
            color: white;
            background-color: #1ED760;
        }
        .p-protocol{
            margin-top: 40px;
            text-align: right;
            padding-right: 20px;
        }
        #prot{
            font-size: 14px;
            margin-right: 20px;
            color: #1ED760;
        }
        #prot:hover{
            color: white;
        }
        .canvas{
            width: 100vw;
            top: 0;
            left: 0;
            height: 100vh;
            position: absolute;
            text-align: center !important;
        }
        </style>
{% endblock content %}