<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                 |Social Platforms
            {% endblock title %}
            
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% load static %}
        <script src="{% static 'hana/js/jscript.js' %}"></script>
        {% load static %}

        <link rel="stylesheet" href="{% static 'hana/css/social.css' %}" type="text/css">

        <link rel="stylesheet" href="{% static 'hana/css/base.css' %}" type="text/css">
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
       
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        
        <style>
           
        </style>
    </head>
    {% load static %}
    <body>
        
    <div id="demo" class="carousel slide" data-ride="carousel" style="height: 100vh;">
        <div class="carousel-inner" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5));">

            <div class="carousel-item active">
            {% load static %}
                <img src="{% static 'social/images/christopher.jpg' %}" alt="los angeles" width="1100" height="500">
                
            </div>
           
        </div>
        
    </div>
  
   <!-----------------social-popout---------------------------->

{% block content %}
{% endblock content %}
    
    <!----------------End-popout-------------------------------->
 {% block controls %}
    
{% endblock controls %}

{% block mainsocial %}

{% endblock mainsocial %}

{% block profile %}

{% endblock profile %}

{% block home %}
{% endblock home %}
  <script>
    
  </script>  
    
    
    </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>
