li{
    list-style: none;
}
.top-menu ul{
    float: right;
    align-self: right;
}
.top-menu ul li{
    list-style: none;
    font-size: 22px;
    margin-left: 20px;
    justify-self: right;
    float: left;
    }
.top-menu{
    position: absolute;
    z-index: 3;
    float: right;
    justify-self: right;
    margin-left: 40%;
    margin-top: 5px;
}
.top-menu ul li a{
    color: white;
    text-transform: uppercase;
}
.top-menu ul li a:hover, a:active{
    color: orange;
    text-decoration: none;

}
.pop-n{
    display: none;
}
a{
    text-decoration: none;
}
#middle{
    position: absolute;
    z-index: 1;
    color: white;
    /*border: 2px solid white;*/
    margin-top: 20%;
   /* left: 35%;*/
    text-transform: uppercase;
    width: 94%;
    text-align: center;
}
#middle *{
    display: block;
}
#social-icons{
    position: absolute;
    z-index: 1;
    width: 94%;
    /*border: 1px solid white;*/
    margin-top: 30%;
    text-align: center;

}
#social-icons ul li{
    margin-right: 10px;
    display: inline-block;
}
#social-icons ul li a{
    color: white;
    float: center;
}
.fa-facebook{
  color: #3b5998;
  
}
.fa-instagram{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}
.fa-twitter{
    color: #00aced;
}
.fa-google{
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
   -webkit-text-fill-color: transparent;
}
.fa-youtube-play{
    color: #bb0000;
}
.fa-linkedin{
    color: #007bb6;
}
.fa-windows{
    color: blue;
}
.fa-spotify{
    color: #1ED760;
}
.fa-wordpress{
    color: #21759b ;
    background-color: white;
    border-radius: 50%;
}
.fa-whatsapp{
    color:#fff;
    background:
    linear-gradient(#25d366,#25d366)10px 84%/10px 15px no-repeat,
    radial-gradient(#25d366 60%,transparent 0);
}
.fa-github{
    color: #000000;
}
.pop-out{
    position: absolute;
    right: 70px;
    top: 35px;
    z-index: 3;
    width: 250px;
    background-color: rgb(26, 24, 24);
    height: 250px;
    border-radius: 5px;
    transition: ease-in;
    transition-duration: 0.5s;

}
.profile{
    width: 250px;
    align-content: center;
    text-align: center;
}
.profile-image{
    justify-self: center;
}
.pop-logout{
    color: #25d366;
    font-size: 13px;
    padding-right: 7px;
    text-align: right;
    width: 250px;
}
.pop-logout:hover{
    color: white;
}
.pop-out-email{
    text-align: center;
    color: white;
    font-size: 13px;
    padding-top: 10px;
}
.date{
    color: white;
}
.time{
    color: white;
}
.pop-out-date{
    text-align: center;
}
.menu-icon{
    position: absolute;
    z-index: 3;
    height: 100px;
    width: 70px;
}
#check{
    display: none;
}
label #cancel{
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}

label #cancel{
    right: 5px;
    top: 5px;
    font-size: 20px;
    color: white;
    padding: 4px 9px;
    transition: all 0.5s ease;
}
label #cancel:hover{
    color: #25d366; 
    padding-top: 5px;
}
.pop-out-date{
    height: 45px;
    text-align: center;
}
.pop-out-date p{
    font-size: 13;
    color: white;
}
#btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 30px;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 30;
    transform: rotate(0deg);
    transform-origin: center;
}

#btn:hover{
    background-color: rgb(63, 60, 60);
    color: #25d366;
    transition-property: initial;
    transform-origin: center;
    transition-duration: 1s;
    transition: ease-in;

}
.roll{
    animation-name: rot;
    animation-duration: 0.5s;
    transform-origin: center;
    animation-direction: normal;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -moz-animation-duration: 0.5s;
    -webkit-animation-name: rot;
    -moz-animation-name: rot;
    -webkit-animation-name: 0.5s;
    transform: rotate(90deg) !important;
}/*
.roll-r{
    animation-name: rot;
    animation-duration: 0.5s;
    transform-origin: center;
    animation-direction: reverse;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -moz-animation-duration: 0.5s;
    -webkit-animation-name: rot;
    -moz-animation-name: rot;
    -webkit-animation-name: 0.5s;
    transform: rotate(0deg) !important;
}*/

@keyframes rot{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(22.5deg);}
    50%{transform: rotate(45deg);}
    75%{transform: rotate(67.5deg);}
    100%{transform: rotate(90deg);}
}