#top{
    width: 100vw;
    background-color: #f1f1f1;
    top: 0px;
    left: 0px;
    height: 70px;
    position: fixed;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.label{
    left: 0px;
    position: absolute;
}
.label p{
    float: left;
    font-size: 22px;
    margin-left: 20px;
    font-family: sans-serif;
    margin-top: 22px;
}
.profile{
    height: 100px;
    width: 50px;
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
}
.profile img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 5px;
    border: 2px solid rgb(128, 121, 121);
}
.profile img:hover{
    border: 3px solid rgb(116, 112, 112);
}
.search{
    position: absolute;
    left: 40%;
    margin-top: 17px;
    margin-right: 20px;
}
.search input[type="search"]{
    width: 300px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid rgb(119, 112, 112);
    margin-right: 5vw;
}
#aside{
    position: fixed;
    margin-top: 71px;
    width: 240px;
    border-right: 1px solid rgb(196, 192, 192);
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #f1f1f1;;
}
#aside ul  li{
    width: 230px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: -40px;
}
#aside ul{
    margin-top: 50px;
}
#aside ul a li{
    padding-left: 10px;
}
#aside ul a li i{
    margin-right: 25px;
}
#aside ul a li img{
    margin-right: 15px;
}
#aside ul a{
    text-decoration: none;
    color: black;
}
#aside ul a:hover{
    color: rgb(47, 47, 223);
}
#aside ul a:active{
    color: rgb(47, 47, 223);
}

.fa-file-pdf-o{
    color: red;
}

.fa-play-circle-o{
    color: #bb0000;
}
#aside ul li i{
    margin-left: 10px;
}
#aside ul li:hover{
    background-color: rgb(240, 232, 232);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    /*color: rgb(47, 47, 223);*/
}
#aside ul li:active{
    background-color: rgb(240, 232, 232);
}
.display{
    margin-left: 245px;
    margin-top: 75px;
    height: calc(100vh - 85px);
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: black;
    scrollbar-width: 3px;
}
.e-image{
    margin-top: 150px;
}
.display p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}